@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

a {
  @apply text-primary hover:text-blue-500;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
